
# Server Configuration
TRANSPORT=stdio
HOST=127.0.0.1
PORT=8051

# Ollama Configuration
OLLAMA_API_KEY=your-ollama-api-key
OLLAMA_API_BASE=https://ollama.com

# LLM Configuration
LLM_PROVIDER=ollama/gpt-oss:120b
LLM_BASE_URL=https://ollama.com

# Embedding Configuration
EMBEDDING_MODEL=ollama/all-minilm
EMBEDDING_BASE_URL=https://api.ollama.com
EMBEDDING_API_KEY=your-ollama-api-key



# RAG Strategies
USE_CONTEXTUAL_EMBEDDINGS=true
USE_HYBRID_SEARCH=true
USE_AGENTIC_RAG=true
USE_RERANKING=false
USE_KNOWLEDGE_GRAPH=true

# Supabase Configuration (you'll need to fill these in)
SUPABASE_URL=https://something.supabase.co
SUPABASE_SERVICE_KEY=your-supabase-api-key

# Neo4j Configuration (optional, for knowledge graphs)
NEO4J_URI=neo4j+ssc://project-id.databases.neo4j.io
NEO4J_USER=neo4j
NEO4J_PASSWORD=your-neo4j-db-password
